* {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(0, 0, 0);
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    font-size: 7vh;
   color: white;
   margin-left: 10px;
}
nav ul a{
    text-decoration: none;
    color: rgb(171, 171, 171);
    background-color: transparent;
}
a:visited {
    color: rgb(171, 171, 171);
    background-color: transparent;
}
a:hover {
    text-decoration: none;
    color: rgb(171, 171, 171);
    background-color: transparent;
}
a:active {
    color: rgb(161, 98, 219);
    text-decoration: none;
    background-color: transparent;
}
nav ul li{
    margin:12px;
    justify-content: space-around;
    
}
header nav ul{
    display:flex;
    list-style: none;
    text-align: justify;
    color:aquamarine;
    justify-content: space-between;
    padding: 0px;
    margin-right: 2em;
}
.splash-screen{
    background-image: url("./images/the-beatles-ipad-hd-wallpaper.jpeg");
    background-color: black;
    background-size: cover;
    background-attachment:local;
    height: 100vh;
    width: 100%;
    display: flex;
}
.section-header{
text-align: center;
margin-top:2%;
margin-bottom: 2%;
width: 100%;

}
.section-header a{
    text-decoration: none;
}
.top-button{
    font-size: 30px;
}
.grid-members{
    display:grid;
    grid-template-columns: .8fr .8fr .8fr .8fr;
    width: 100%;
    justify-content:center;
}
.grid-members img{
    display: block;
    margin: 0 auto;
    width: 76%;
    height: 90%;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
    
}
.grid-members h4{
    display:flex;
    align-items: center;
    justify-content:space-around;
}
.history{
    width: 100%;
}
.history p {
    text-align: center;
    width: 90%;
    margin: 0 auto;

}
.historyII p {
    width: 90%;
    margin: 0 auto;
    margin-top: 7px;
}
.historyII{
text-align: center;
}
.grid-album{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 2px;
    /* grid-auto-flow:dense; */
    /* margin: 2px;  */
    gap: 4%;
    margin-bottom: 5%;
}
.grid-album img{
    width: 70%;
    height: 90%;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}
.album-card p {
    text-align: center;
    margin: 0em;
}
.album-card {
    width: 100%;
}
.grid-songs{
    display: flex;
    text-align: center;
    margin:2px;   
    justify-content: space-around;
}
.grid-songs img{
    width: 100%;
    height: 200px;
    border-radius: 15% 15% 15% 15% / 30% 30% 30% 30%  ;
}
.grid-songs p{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.map{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    /* margin-left: 10vw;
    margin-bottom: 10vw; */
}
footer {
    width: 100%;
    list-style: none;
    background-color: rgb(69, 57, 57);
    font-size: 2.1vh;
    height: 20vh;
    text-align: center;
}
.footer-up {
    color:aliceblue;
    margin-top: 1%;
}
.footer-info {
    color: azure;
    margin-top: 1.5%;
    font-size: 2vh;
    height: 20vh;
    text-align: center;
}